<!DOCTYPE html>
<html lang="en">
{{!-- <head>
  
</head> --}}
<body >
{{>navbar}}

    {{>headerlinks}}
    <form action="forgetpassword" method="POST" class="formData"  id="forgetPassDiv">
    <div class="container">
        <div class="form-floating">
  <input name="email"
            id="email"
            value=""
            type="email"
            placeholder="me@example.com"
            class="form-control"
            required >
  <label for="email">Email</label>
</div>
        <button type="submit" class="btn btn-primary btn-reset">Reset Password</button>
</form>
 {{#if message}}
     <div class="mt-4">
      <h4 class="alert alert-denger">{{message}}</h4>
      </div>
      {{/if}}

</body>
</html>