<!DOCTYPE html>
<html lang="en">
{{!-- <head>
  
</head> --}}
<body >
{{>navbar}}

    {{>headerlinks}}
    <form method="POST" class="formData" id="resetPassDiv" >
    <div class="container">
        <div class="form-floating">
        <input name="newPassword" id="password" value="" autocomplete="off" type="password" placeholder="Enter your new password" class="form-control"
          required >
        <label for="select-where">New Password</label>
      </div>      
        <div class="form-floating">
        <input name="confirmpassword" id="confirmpassword" value="" type="password" autocomplete="off" placeholder="Confirm your password" class="form-control"
          required>
        <label for="select-where">Confirm Password</label>
      </div>

        {{!-- <div class = "set-inside-div">
        <button type="submit" class="resetPassBtn">Sumbit
            Password</button>
        </div> --}}
        <button type="submit" class="btn btn-primary btn-reset">Submit Password</button>


    </div>

</form>
 {{#if message}}
     <div class="mt-4">
      <h4 class="alert alert-denger">{{message}}</h4>
      </div>
      {{/if}}

</body>
</html>