<header class="p-3  text-bg-dark">
    {{!-- <div class="container"> --}}
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/deshboard" class="nav-link px-2 text-white">
                <img src="https://cdn-icons-png.flaticon.com/512/6292/6292175.png" alt="" class="bi mx-auto" width="24" height="24"/>
                Dashboard
              </a></li> 
        </ul>
         <form action="/deshboard" method="POST" class="d-flex me-4" role="search">
        <input name="search" class="form-control me-2" type="search" value="" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBRdmz3LadjgP_7giopi8RU6TJQgE-9IZaYXSJYWHuFv3ty1vbrgMiiU6XqdhxXyFqJqU&usqp=CAU" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="/logoutadmin">Log Out</a></li>
          </ul>
        </div>
      {{!-- </div> --}}
    </div> 
  </header>


 