<header class="text-bg-dark">
    {{!-- <div class="container"> --}}
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">

        <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/register" class="nav-link px-4 text-white"><img src="https://www.freeiconspng.com/uploads/man-icon-png-5.png" alt="" class="bi mx-auto" width="24" height="20"/>User Register</a></li>
        </ul>
         <div class="text-end">
          <button type="button" class="btn btn-outline-success me-4"><a href="/adminlogin" class="nav-link px-2 text-light">Admin Login</a></button>
        </div>
        <div class="text-end">
          <button type="button" class="btn btn-outline-success me-4"><a href="/login" class="nav-link px-2 text-light">User Login</a></button>
        </div>
      {{!-- </div> --}}
    </div>
  </header>

        